/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body */
body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: #009B77;
}

a:hover {
  text-decoration: none;
  color: darkblue;
}

/* Navigation */
.nav-link:hover {
  background-color: purple;
  color: lightyellow;
}

/* iFrame */
iframe:hover {
  background-color: darkblue;
}

/* Jumbotron */
.jumbotron {
  background-color: lightblue;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Polls Tables */
#polltableforeveryone {
  padding-top: 0.5rem;
}

#polltable {
  padding-top: 0.4rem;
}